body {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  text-align: center;
}
p, h2 {
  padding-left: 20px;
  font-family: Arial;
}
ul {
    padding:0;
}
.social {
  display: flex;
  justify-content: space-evenly;
}
li {
  list-style: none;
}
li > img {
  width: 40px;
  height: 40px;
}
.menu {
  display: flex;
  flex-flow: row wrap;
}
.menu-link, .order {
  text-align: center;
  background-color:#FFDAB9;
  padding: 0.75em;
  border-radius: 0.25em;
  font-family: Arial;
  font-size: 1rem;
  flex-grow:1;
  flex: 20%;
  margin:0.5em;
}
.order {
  background-color: #DC143C;
  color: white;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.product-image {
  width: 100%;
  height: auto;
  max-width: 300px;
}
h3 {
  margin-left: 10%;;
}
.buy, .price {
  display: inline-block;
}
.price {
  font-size: 20px;
  padding: 15px;
}
.buy {
  width: 100px;
}
.info-column, .image-column{
  border: 1px solid blue;
  text-align: center;
}
.description {
  width:80%;
}
